.serial-list-container {
    width: 500px;
    
	.table-header {
		background-color: blueviolet;
		color: white;

		&__name {
            display: inline-flex;
            width: 80%;
			justify-content: space-between;
		}
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
		width: 100%;
		border: 1px solid #ddd;
	}

	th,
	td {
		text-align: center;
		padding: 8px;
	}

	th:first-child,
	td:first-child {
		text-align: left;
	}
}
