<div class="app-container">
    <div class="controls-container">
        <app-select [items]="serialGenres" (selectValueChange)="selectGenre($event)"></app-select>
        <app-select [items]="premiereYears" (selectValueChange)="selectYear($event)"></app-select>
    </div>
    <app-serial-list></app-serial-list>    
    <div class="pagination-container">
        <div class="pagination-container__item">
            <ng-container *ngFor="let item of pagesSequence">{{item}}</ng-container>
        </div>
        <div class="pagination-container__item"></div>
    </div>
</div>
